body {
	background-image:url("hue.jpg");
	background-repeat: no-repeat;
	background-size: 88em 70em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33ffbb;
  margin-left: -10px;
  margin-right: -10px;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #00cc88;
}
.active {
  background-color: #6633ff;
  color: white;

}
.logo-image{
    width: 4px;
    height: 5px;
    overflow: top;
    margin-top: -13px;
	margin-left: 10px;
	
}
input[type=text], input[type=password], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
button {
  background-color: #00e699;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  background-color: #00cc88;
}
.signupbtn {
  float: left;
  width: 100%;
}
.container {
  padding: 16px;
  border-radius: 1rem;
}
.signin {
  text-align: center;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 6% auto 8% auto; 
  border: 1px solid #888;
  border-radius: 1rem;
  width: 60%;
}
hr {
  border: 1px solid #888;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
span.sign {
	font-size: 45px;
	font-style: bold;
}